*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
}
.wrapper{
    width: 1500px;
    margin: 100px auto;
}
.Diia, .Square, .Circle, .Circle>img{
    height: 512px;
    width: 512px;
}
.Diia{
    background-color: black;
    position: relative;
}
.diia_title{
    padding: 129px 101px 32px 101px;
}
.Flag-diia{
padding: 29px 216px 109px 216px;
}
.Square{
    position: absolute;
    left: 441px;
    top: 526px;
}
.Sq_blue{
    background-color: #2137FC;
    height: 256px;
}
.Sq_yellow{
    background-color: #FFCE22;
    height: 256px;
    position: relative;
}
.waves{
    position: absolute;
    z-index: 1;
    bottom: 135px;
    left: 53px;
}
.Circle{
    background-color: white;
    /* background-color: #E5E5E5; */
    position: absolute;
    left: 423px;
    top: 417px;
    z-index: -1;
    border-bottom: #2137FC 3px solid;
    border-top: #2137FC solid 3px;
}
/* .circle-blue{
    position: absolute;
    top 0
}
.yellow{
    background-color: #FFCE22;
} */

.Circle_img{
    width: 513px;
    margin: 0 auto;
    display: inline-block;
    /* position: absolute; */
    border: none;
    height: 510px;
    /* border-top: #2137FC solid 2px; */
    /* border-bottom: 3px #2137FC; */
}