*{
    box-sizing: border-box;
}
div{
    border: 5px solid blueviolet;
    text-align: center;
    margin: 5px;
    font-size: 40px;
    background-color: rgb(238, 202, 234);
}
.our_table{
    width: 90%;
    margin: 10px auto;
}
td{
    width: 33%;
    border: 1px solid black;
}
